{% extends 'base.html' %}
{% block title %}
    Stockman: {{ product.name }}
{% endblock title %}
{% block content %}
    <h1>{{ product.name }}</h1>
    <h2>{{ product.manufacturer.name }} ({{ product.manufacturer.country }})</h2>
    <h3>Product description:</h3><p class="description">{{ product.description }}</p>
    <h3>Supply cost:</h3><p class="currency"></p>£{{ product.cost }}</p>
    <h3>Sale price:</h3><p class="currency">£{{ product.price }}</p>
    <h3>Quantity available:</h3>
    <p class="int">
        {% if product.quantity == 0 %}
        <form action="/products/{{product.id}}/count" method="post">
            <input type="number" id="quantity" name="quantity" value="{{product.quantity}}" min = 0 max="999" required />
            <button>Override quantity</button>
        </form>
        <br>
        <b>OUT OF STOCK</b>
        {% elif product.quantity < 4 %}
        <b>LOW STOCK</b>
        <form action="/products/{{product.id}}/count" method="post">
            <input type="number" id="quantity" name="quantity" value="{{product.quantity}}" min = 0 max="999" required />
            <button>Override quantity</button>
        </form>
        {% else %}
            <form action="/products/{{product.id}}/count" method="post">
                <input type="number" id="quantity" name="quantity" value="{{product.quantity}}" min = 0 max="999" required />
                <button>Update quantity</button>
            </form>
        {% endif %}
    </p>
    <p><a href="/products/{{product.id}}/edit"><button>Edit product details</button></a></p>
    <form class="deletion_form" action="/products/{{product.id}}/delete" method="post">
        <button>Remove product from database</button>
    </form>
{% endblock content %}
