{% extends 'base.html' %}
{% block title %}
    Stockman: {{ page }} {{ category.name }}
{% endblock title %}
{% block content %}
    <h1>Editing category "{{ category.name }}"</h1>
    <form action="/categories/{{category.id}}" method="post">
        <div>
            <label for="name">Category name:</label>
            <input type="text" id="name" name="name" value="{{category.name}}" required autofocus />
        </div>
        <button type="submit">Submit updated details</button>
    </form>
{% endblock content %}
