{% extends 'base.html' %}
{% block title %}
    Stockman: {{ page }}
{% endblock title %}
{% block content %}
    <h1>Adding new manufacturer</h1>
    <form action="/manufacturers" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Manufacturer name" required autofocus />
        </div>
        <div>
            <label for="name">Location (<a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements">ISO 3166-1 alpha-2 code</a>):</label>
            <input type="text" id="country" name="country" placeholder="Country code (e.g. CN)" pattern="[A-Z]{2}" required />
        </div>
        <button type="submit">Add manufacturer to database</button>
    </form>
{% endblock content %}
