{% extends 'base.html' %}
{% block title %}
    Stockman: {{ page }}
{% endblock title %}
{% block content %}
    <h1>Manufacturers</h1>
    {% if manufacturers|length == 0 %}
        No manufacturers are currently recorded in the database.
        <br><br>
        <a href="/manufacturers/add"><button>Add manufacturer</button></a>
    {% else %}
        <ul class="big-list">
            {% for manufacturer in manufacturers %}
                <div class="list-object"><li><a href="/manufacturers/{{manufacturer.id}}">{{ manufacturer.name }}</a></li></div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
