body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

main {
    height: 95%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-object {
    margin: 2%;
}

.description {
    margin: 0 4%;
    text-align: left;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    }

.navbar ul li {
    padding: 14px;
    font-size: 14px;
    text-align: center;
}

footer {
    position:fixed;
    width: 100%;
    background-color: white;
    bottom: 0;
    padding: 14px;
    font-size: 14px;
    text-align: center;
}
