body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

main {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    }

.navbar ul li {
    padding: 14px;
    font-size: 14px;
    text-align: center;
}

footer {
    position:fixed;
    width: 100%;
    bottom: 0;
    padding: 14px;
    font-size: 14px;
    text-align: center;
}
