@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration-line: none;
    color: blue;
}
a:hover {
    color: indigo;
}

main {
    text-align: center;
    flex: 1 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

table {
    margin: auto;
    text-align: left;
    border: 2px solid;
}
table, th, td {
    padding: 5px 10px;
    border: 1px solid;
    border-collapse: collapse;
}

.list-object {
    margin: 1%;
}

.description {
    margin: 0 4%;
}

.navbar, header {
    color: white;
    background: black;
}
header a {
    font-family: 'Share Tech Mono';
    color: white;
}

h1 {
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.navbar ul li {
    padding: 16px;
    font-size: 16px;
    text-align: center;
    font-family: 'Share Tech Mono';
    text-decoration: none;
    height: 30px;
    line-height: 20px;
}
.navbar a:visited {
    color: white;
}
  .navbar a:hover {
    color: green;
    font-weight: 600;
}

footer {
    flex-shrink: 0;
    padding: 14px;
    font-size: 14px;
    text-align: center;
}

form {
    width: 40%;
    margin: 0 auto;
}
label {
    text-align: left;
    margin: 10px 0;
}
form > div {
    display: grid;
    margin-bottom: 30px;
}
form > select {
    padding: 5px 10px;
}
input {
    padding: 5px;
}
textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
}
button {
    font-size: 16px;
    padding: 8px 10px;
    background-color: darkgreen;
    color: white;
}
button:hover {
    background-color: green;
}
.edit {
    background-color: darkorange;
}
.edit:hover {
    background-color: orange;
}
.delete {
    background-color: darkred;
}
.delete:hover {
    background-color: red;
}
.narrow-input{
    display: flex;
    gap: 15%;
    justify-content: space-evenly;
}
.narrow-input > input, select {
    padding: 0;
}
