<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stockman Inventory Tracker</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/manufacturers">Manufacturers</a> (add new)</li>
                <li><a href="/products">Products</a> (add new)</li>
                <li>Inventory on hand</li>
                <li>Out of stock</li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        © 2022 J. A. Mackenzie (<a href="https://github.com/crabbit-git/">crabbit-git</a>)
    </footer>
</body>
</html>
