<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/manufacturers">Manufacturers</a> (<a href="/manufacturers/add">add</a>)</li>
                <li><a href="/categories">Product Categories</a> (<a href="/categories/add">add</a>)</li>
                <li><a href="/products">All Products</a> (<a href="/products/add">add</a>)</li>
                <li><a href="/products/in-stock">In Stock</a></li>
                <li><a href="/products/out-of-stock">Out of Stock</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        © 2022 J. A. Mackenzie (<a href="https://github.com/crabbit-git/">crabbit-git</a>)
    </footer>
</body>
</html>
